/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom right, #9ee19e, #53b453);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#banner {
    background-image: url('banner.jpg');
    background-size: cover;
    text-align: center;
    padding: 200px 0;
    color: #fff;
}


#banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#features {
    background: linear-gradient(to bottom right, #9ee19e, #53b453);
    padding: 50px;
    color: #fff;
}


#features h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#features ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
