<!DOCTYPE html>
<html>
<head>
    <title>외대카풀</title>
    <link rel="stylesheet" type="text/css" href="foundation.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style1.css">
</head>
<body>
    <header>
        <h1>외대카풀</h1>
        <nav>
            <ul>
                {% if  not user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'common:login' %}">로그인</a></li>
                <li><a class="nav-link" href="{% url 'common:signup' %}">회원가입</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a></li>
                <li><a href="/board">게시판</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section id="banner" class="banner">
    
    </section>

    <section id="features">
        <h3>주요 기능</h3>
        <ul>
            <li>빠르고 쉬운 차 공유 신청</li>
            <li>합리적인 가격과 유연한 이용 시간</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 외대 카풀. All rights reserved.</p>
    </footer>
</body>
</html>
